body {
    height: 95vh;
    width: 97vw;

    display: flex;
    flex-direction: column;

    user-select: none;
    overflow: hidden;

    background-image: url("/static/img/1.png");
    
}

.content {
    flex: 1;
    width: 100%;
    min-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

.bottomNav {
    /* flex: 0.1; */
    width: 100%;
    min-height: 3rem;
    display: flex;
    flex-direction: row;

    border: 2px solid purple;
    border-radius: 25px;
    /* outline: 1px solid purple; */
}

.bottomNav div {
    flex: 1;
    height: 100%;
    text-align: center;
    font-size: large;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.bottomNav div img {
    transform: scale(0.7);
}

.bottomNav div:hover {
    cursor: pointer;
}

.bottomNav div.selected {
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgba(126, 91, 254, 0.618);
    pointer-events: none;
}

.availiableTable {
    width: 100%;
    scroll-behavior: auto;
    background-color: rgba(205, 237, 255, 0.9);
    border-collapse: collapse;

    border-radius: 10px;

    font-weight: 500;

    /* word-wrap: break-word; */
}

.availiableTable tr {
    max-height: 3rem;
    min-height: 2rem;
    overflow: hidden;
    border-bottom: 1px solid rgba(74, 129, 255, 0.458);

    display: flex;
    flex-direction: row;
} 

.availiableTable tr th {
    flex: 1;
    font-size: large;

    display: flex;
    justify-content: center;
    align-items: center
}

.availiableTable tr td {
    flex: 1;
    font-size: medium;
    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

td button {
    flex: 1;
    height: 100%;
    background-color: rgb(147, 178, 255);

    border: 0;
    border-radius: 10px;
}

td button:hover {
    cursor: pointer;
}


.color_attention {
    color: rgb(255, 140, 0);
}

.color_normal {
    color:rgb(153, 0, 255)
}

.color_ok {
    color: green;
}

.color_cool {
    color: rgb(97, 129, 193);
}

.pageSelect {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-weight: 600;

}

.pageSelect span {
    font-size: larger;
    /* background-color: aqua; */
    display: flex;
    align-items: center
}

.pageSelect button {
    width: 3.5rem;
    height: 2.5rem;
    background-color: rgba(74, 129, 255, 0.458);
    border: 0;
    font-size: smaller;
    font-weight: 500;
}

.pageSelect button.next {
    margin-left: 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.pageSelect button.prev {
    margin-right: 10px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.pageSelect button:hover {
    cursor: pointer;
}


.adminOperation {
    margin-top: 20px;
    color: purple;
    border-color: plum ;
    border-radius: 10px;
    padding: 5px;
    /* outline: 1px solid blueviolet; */
    /* height: 6rem; */

    display: flex;
    flex-direction: column;

    word-break: keep-all;

    background-color: rgba(255, 255, 255, 0.9);

    /* width: fit-content; */
}

.adminOperation legend {
    margin-bottom: 1rem;
}

.adminOperation div {
    display: flex;
    flex-direction: row;

    justify-content: space-around
}

.adminOperation div a {
    text-decoration: none;
    color: palevioletred;

    /* height: 5rem;
    width: 5rem; */

    margin: 1rem;
    /* margin-bottom: 1rem; */
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    /* outline: 1px solid palevioletred; */
}

a img {
    transform: scale(0.7);
}

/* a .ico {
    width: 1rem;
    height: 2rem;
} */


.userTop {
    flex: 1;
    margin-top: 10px;
    word-break: keep-all;
    border-radius: 10px;

    height: fit-content;
    background-color: rgba(138, 170, 255, 0.607);
    padding: 1rem;
}

.userTop .line {
    text-align: center;
}

.userTop .userButton {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.userTop button {
    border: 0;
    border-radius: 10px;
    background-color: rgb(138, 169, 255);

    height: 2rem;
    width: 4rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.userTop .attention {
    height: 20vh;
}

.attention .title {
    text-align: center;
}