.outline_attention {
    outline: red solid 1px;
}

.outline_ok {
    outline: green solid 1px;
}

input {
    border: 0;
    /* border-bottom: 1px solid palevioletred;
    background-color: rgba(255, 255, 255, 0); */
}

input:focus {
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(58, 68, 203);

    animation-name: color_trans_1;
    animation-duration: 1s;
}

@keyframes color_trans_1 {
    0% {
        border-bottom: 1px solid palevioletred;
    }
    100% {
        border-bottom: 2px solid rgb(58, 68, 203);
    }
}