.outline_attention {
    outline: #9a2b34 solid 1.5px;
}

.outline_ok {
    outline: #04804c solid 1.5px;
}
.signup-box {
    display: flex;
    justify-content: center;
    /*居中排列*/
    align-content: space-around;
    flex-wrap: wrap;
    /*项目排在一条线上，换行，第一行在上方*/
    height: 17rem;
    width: 25rem;
    background-color: rgba(215, 242, 239, 0.153);
    border: 10px;
    padding: 20px 50px;
    border-radius: 20px;
}
.signup-box h4{
    width: 100%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#signupForm{
    display: flex;
    justify-content: center;
    /*居中排列*/
    align-content: space-around;
    flex-wrap: wrap;
    /*项目排在一条线上，换行，第一行在上方*/
    margin-top: 0.1px;
    height: 9rem;
    width: 25rem;
    line-height: 2em;
    }
#signupForm .p3{
    display: flex;
    align-content: space-around;
    margin-top: 0.1rem;
    color: #707070;
}
input {
    border: 0;
    outline: none;
    /* padding: 6px; */
    border-bottom: 1px solid white;
    background-color: #ffffff00;
    color: #ffffff;
    width: 11rem
}
input::placeholder{
    text-align: center;
    color:#70707077
}
input:focus {
    border-bottom: 3px solid green;
    animation-name: color_trans;
    animation-duration: 1s;
}
#signup-submit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
    color: #fff;
    border:0;
    height: 2rem;
    font-size: 13px;
    background: linear-gradient(120deg, #a6c0fe 0%, #62b1d0 100%);
    border-radius: 25px;
    cursor: pointer;
}
.signup-box .login{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    color: #fff;
    font-size: 12px;
}