<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/admin.css">

    <script src="/static/js/admin.js"></script>
    <title>部门与用户管理</title>
</head>
<body>
    <div class="dpt_user_admin">
        <fieldset class="dpt_admin">
            <legend>部门管理</legend>
            <div class="deptExist">
                {{range $dept := .depts}}
                <div class="deptLine">
                    <span>部门: {{$dept.Name}}</span>
                    <span>{{$dept.Description}}</span>
                    <span>
                        <button onclick="deptOp('{{$dept.Name}}','deptDel')">删除</button>
                        {{if $dept.Availiable}}
                        <button onclick="deptOp('{{$dept.Name}}','deptBan')">禁用</button>
                        {{else}}
                        <button onclick="deptOp('{{$dept.Name}}','deptActive')">启用</button>
                        {{end}}
                    </span>
                </div>
                {{end}}
                <div class="deptLine">
                    <span>部门:<input id="dept_add_name" type="text" placeholder="部门名"></span>
                    <span><input id="dept_add_dscrpt" type="text" placeholder="部门描述"></span>
                    <span>
                        <button onclick="deptOp('','deptNew')">添加</button>
                    </span>
                </div>
            </div>
        </fieldset>

        <fieldset class="users_admin">
            <legend>用户管理</legend>
            <div class="line_add_user">
                <input id="user_add_dept" type="text" placeholder="部门">
                <input id="user_add_name" type="text" placeholder="用户名">
                <input id="user_add_password" type="text" placeholder="密码">
                <button onclick="userOp('userNew')">添加</button>
            </div>
            <div class="line_search_user">
                <div>
                    我想要对<input id="user_search_dept" type="text" placeholder="部门">的<input id="user_search_name" type="text" placeholder="用户名">用户进行操作
                </div>
                <button onclick="userOp('userSearch')">搜索</button>
                
            </div>
            <div class="users_found" id="users_found"></div>
            
        </fieldset>
    </div>
</body>
</html>