<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/admin_equipment.js"></script>
    <title>设备管理</title>
</head>

<body>
    <div>
        <input id="filter" class="filter" type="search" onchange="equipmenFilter(this.value)" placeholder="设备名 检索">
        <div>
            <div class="hint">总计 {{.total}} 条记录 <a href="/equipment/getTemplate" target="_blank">下载模板</a> <a href="/equipment/export" target="_blank">导出当前</a></div>
            <table class="availiableTable">
                <tr>
                    {{range $idx,$head := .heads}}
                    <th> {{$head}} </th>
                    {{end}}
                </tr>
        
                {{ if gt .total 0}}
                {{range $equipment := .equipments}}
                <tr>
                    <td>{{$equipment.ID}}</td>
                    <td>{{$equipment.Name}}</td>
                    <td>{{$equipment.Type}}</td>
                    <td>{{$equipment.Class}}</td>

                    {{if $equipment.Availiable}}
                    <td>可用</td>
                    {{else}}
                    <td>不可用</td>
                    {{end}}
                    <td>
                        {{if $equipment.Availiable}}
                        <button onclick="equipmentOp('{{$equipment.ID}}', 'disable')">禁用</button>
                        {{else}}
                        <button onclick="equipmentOp('{{$equipment.ID}}', 'enable')">启用</button>
                        {{end}}
                        <button onclick="equipmentOp('{{$equipment.ID}}', 'del')">删除</button>
                        <!-- <button onclick="equipmentOp('{{$equipment.ID}}', 'units')">单元</button> -->

                    </td>
                </tr>
                {{end}}
                {{end}}
                <tr>
                    <td><button onclick="document.querySelector('#file').click()">添加/修改</button></td>
                </tr>
            </table>
                <input 
                id="file" 
                style="display: none;" 
                type="file"
                accept=".xlsx"
                >
            
            <div class="pageSelect">
                {{if gt .page 1}}
                <button class="prev"
                    onclick="getEquipment(document.querySelector('#filter').value, '{{.page}}', '{{.pageSize}}', 'prev')">上一页</button>
                {{else}}
                <button disabled class="prev"
                    onclick="getEquipment(document.querySelector('#filter').value, '{{.page}}',  '{{.pageSize}}', 'prev')">上一页</button>
                {{end}}
                <span>{{.page}}/{{.total_page}}</span>
                {{if lt .page .total_page}}
                <button class="next"
                    onclick="getEquipment(document.querySelector('#filter').value, '{{.page}}',  '{{.pageSize}}', 'next')">下一页</button>
                {{else}}
                <button disabled class="next"
                    onclick="getEquipment(document.querySelector('#filter').value, '{{.page}}',  '{{.pageSize}}', 'next')">下一页</button>
                {{end}}
            </div>
        </div>

    </div>

</body>

</html>