<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/admin.js"></script>
    <title>管理</title>
</head>
<body>
    <div>
        <div class="hint">总计 {{.total}} 条待归还</div>
        <table class="availiableTable">
            <tr>
                {{ range $idx,$head := .heads }}
                <th> {{$head}} </th>
                {{end}}
            </tr>

            {{ if gt .total 0}}
            {{range $index,$request := .ongoings}}
            <tr>
                <td>{{$index}}</td>
                <td>{{$request.User.Name}}@{{$request.User.Department.Name}}</td>
                <td>{{$request.UnitUID}}</td>
                <td>{{$request.EquipmentName}}</td>
                <td>{{$request.EquipmentType}}</td>
                <td>{{$request.BeginAtStr}}</td>
                
                <td>
                    <button onclick="adminRequestingOp('{{$request.ID}}', 'finish')">确认归还</button>
                    <button onclick="adminRequestingOp('{{$request.ID}}', 'detail')">查看详情</button>
                </td>
            </tr>
            {{end}}
            {{else}}
            <tr>
                <td>未找到记录</td>
            </tr>
            {{end}}
        </table>
    </div>
</body>
</html>