<div>
    <div class="hint">总计 {{.total}} 条记录</div>
    <table class="availiableTable">
        <tr>
        {{ range $idx,$head := .heads }}
        <th> {{$head}} </th>
        {{end}}
        </tr>

        {{ if gt .total 0}}
        {{range $equipment := .equipments}}
        <tr>
            <td>{{$equipment.ID}}</td>
            <td>{{$equipment.Name}}</td>
            <td>{{$equipment.Type}}</td>
            <td>{{$equipment.Class}}</td>
            <td>
                <button onclick="requestEquipment('{{$equipment.ID}}')">申请</button>
            </td>
        </tr>
        {{end}}
        {{else}}
        <tr>
            <td>0</td>
            <td>未找到设备</td>
            <td>换个关键词</td>
            <td></td>
            <td>
                试试吧
            </td>
        </tr>
        {{end}}
    </table>
    <div class="pageSelect">
        {{if gt .page 1}}
        <button class="prev" onclick="getAvailiable(document.querySelector('#filter').value, '{{.page}}', '{{.pageSize}}', 'prev')">上一页</button>
        {{else}}
        <button disabled class="prev" onclick="getAvailiable(document.querySelector('#filter').value, '{{.page}}', '{{.pageSize}}', 'prev')">上一页</button>
        {{end}}
        <span>{{.page}}/{{.total_page}}</span>
        {{if lt .page .total_page}}
        <button class="next" onclick="getAvailiable(document.querySelector('#filter').value, '{{.page}}', '{{.pageSize}}', 'next')">下一页</button>
        {{else}}
        <button disabled class="next" onclick="getAvailiable(document.querySelector('#filter').value, '{{.page}}', '{{.pageSize}}', 'next')">下一页</button>
        {{end}}
    </div>
    
</div>