<div>
    <div>总计 {{.total}} 条记录</div>
    <table class="availiableTable">
        <tr>
        {{ range $idx,$head := .heads }}
        <th> {{$head}} </th>
        {{end}}
        </tr>

        {{ if gt .total 0}}
        {{range $index,$request := .requests}}
        <tr>
            <td>{{$index}}</td>
            <td>{{$request.Equipment.Name}}</td>
            <td>{{$request.Equipment.Type}}</td>
            <td>{{$request.Equipment.Class}}</td>
            <td>{{$request.CreatedAtStr}}</td>
            <td>{{$request.Status}}</td>
            <td>
                {{if eq $request.Status "请求中"}}
                <button onclick="myRequestOp('{{$request.ID}}', 'cancel')">取消申请</button>
                {{else if eq $request.Status "被拒绝"}}
                <button onclick="myRequestOp('{{$request.ID}}', 'delete')">删除记录</button>

                {{end}}
            </td>
        </tr>
        {{end}}
        {{else}}
        <tr>
            <td>0</td>
            <td>未找到记录</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{end}}

    </table>
    
    
</div>