<div>
    <div>总计 {{.total}} 条记录</div>
    <table class="availiableTable">
        <tr>
        {{ range $idx,$head := .heads }}
        <th> {{$head}} </th>
        {{end}}
        </tr>

        {{ if gt .total 0}}
        {{range $index,$request := .requests}}
        <tr>
            <td>{{$request.ID}}</td>
            <td>{{$request.Equipment.Name}}</td>
            <td>{{$request.Equipment.Type}}</td>
            <td>{{$request.EquipmentUnitID}}</td>
            <td>{{$request.CreatedAtStr}}</td>
            <td>{{$request.Status}}</td>
            <td>
                {{if eq $request.Status "请求中"}}
                <button onclick="myRequestOp('{{$request.ID}}', 'cancel')">取消申请</button>
                {{else if eq $request.Status "被拒绝" "已完成"}}
                <button onclick="myRequestOp('{{$request.ID}}', 'delete')">删除记录</button>
                {{else if eq $request.Status "进行中"}}
                <button disabled>归还请联系管理员</button>

                {{end}}
            </td>
        </tr>
        {{end}}
        {{else}}
        <tr>
            <td>0</td>
            <td>未找到记录</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{end}}
    </table>

    <div class="pageSelect">
        {{if gt .page 1}}
        <button onclick="getMyRequest(document.querySelector('#filter').value, '{{.page}}', 15, 'prev')">上一页</button>
        {{end}}
        <span>{{.page}}</span>
        {{if lt .page .total_page}}
        <button onclick="getMyRequest(document.querySelector('#filter').value, '{{.page}}', 15, 'next')">下一页</button>
        {{end}}
        <!-- <button class="next" onclick="getMyRequest(document.querySelector('#filter').value, '{{.page}}', 15)">
            查看更多
        </button> -->
    </div>
</div>